@use './modules/_variables'
@use '../../node_modules/bootstrap/scss/bootstrap'
@use './modules/_icons'

body
    margin: 0
    padding: 0
    h2
        font-size: 35px
   
    h3
        font-weight: 100
        font-size: 21px
        line-height: 30px
        padding-top: 8px
nav
    
    a
        color: white
header
    background-image: url(../../public/assets/img/banner.jpg)
    height: 600px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: white
    h1
        margin-bottom: 30px
    h3
        line-height: 35px    
.maecenas
    display: flex
    align-items: start
    justify-content: center
    text-align: start
    flex-direction: row
    padding-top: 80px
    padding-bottom: 80px
    line-height: 25px
   
    .cont-gauche
        padding-left: 300px
        height: 100%
        width: 1000px
       
      
    .cont-droite
        padding-right: 300px
        width: 1000px
        font-size: 14px
        p
            margin-bottom: 25px
.fusce
    background-color: #F6F6F6
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    .cards-holder
        display: flex
        justify-content: center
        gap: 30px
        margin-bottom: 40px

        .card-body
            border: 1px solid white
            border-radius: 0px
            background-color: white 
            text-align: center
            padding: 25px
            padding-bottom: 20px
            font-weight: bold
            
