@use './modules/_variables'
@use '../../node_modules/bootstrap/scss/bootstrap'
@use './modules/_icons'

body
    margin: 0
    padding: 0
nav
    
    a
        color: white
header
    background-image: url(../../public/assets/img/banner.jpg)
    height: 600px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: white
    h1
        margin-bottom: 30px
    h3
        line-height: 35px    
.maecenas
    display: flex
    align-items: center
    justify-content: center
    text-align: start
    flex-direction: row
    gap:150px
    h3
        font-weight: 100
    .cont-gauche
        padding-left: 300px
        padding-right: 100px
      
    .cont-droite
        padding-right: 300px