@use './_mixins' as *
body
    margin: 0
    padding: 0
    h2
        font-size: 35px
   
    h3
        font-weight: 100
        font-size: 21px
        line-height: 30px
        padding-top: 8px
        color: #9D9D9C
    .red
        background-color: #F32853
        color: white
        border: none
        border-radius: 3px
        padding-left:  27px
        padding-right:  27px
        padding-bottom:  10px
        padding-top:  10px
        font-weight: bold
    .start
        padding-bottom:  7px
        padding-top:  7px
        margin-top: 25px

    .black
        background-color: #323037
        color: white
        border: none
        border-radius: 3px
        padding-left:  27px
        padding-right:  27px
        padding-bottom:  7px
        padding-top:  7px
        font-weight: bold

.bgrnd
    background: url('../assets/img/banner.jpg')
    @include bg-size
    background-attachment: fixed
    background-repeat: no-repeat
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 80%
        background-color: rgba(0, 0, 0, 0.5)
    nav
        padding-top: 30px
        display: flex
        flex-direction: row
        justify-content: space-between
        .spatial
            font-weight: bold
            padding-left: 30px
        
            
        .ancres
            display: flex
            gap: 40px
            padding-right: 50px
           
            a
                color: white !important
                font-weight: 100
                text-decoration: none
    header
        height: 530px
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        color: white
        position: relative
        z-index: 1
        h1
            margin-bottom: 20px
        h3
            line-height: 35px 
            font-size: 27px
           
        .text
            margin-top: -100px
        
.maecenas
    display: flex
    align-items: start
    justify-content: center
    text-align: start
    flex-direction: row
    padding-top: 80px
    padding-bottom: 80px
    line-height: 25px
   
    .cont-gauche
        padding-left: 300px
        height: 100%
        width: 1000px
       
      
    .cont-droite
        padding-right: 300px
        width: 1000px
        font-size: 14px
        p
            margin-bottom: 25px
.fusce
    background-color: #F6F6F6
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    padding-top: 80px
   
    h3
        padding-bottom: 65px
    .cards-holder
        display: flex
        justify-content: center
        gap: 40px
        margin-bottom: 40px
        img
            width: 600px

        .card-body
            border: 1px solid white
            border-radius: 0px
            background-color: white 
            text-align: center
            padding: 25px
            padding-bottom: 20px
            font-weight: bold
    .btn-cont
        display: flex 
        gap: 15px
        padding-bottom: 60px
.mauris
    padding-bottom: 70px
    img
        border-radius: 50%
        border: 5px solid lightgray
    .titre
        padding-left: 170px
        padding-bottom: 7   0px
        padding-top: 80px
    .diviseur
        display: flex
        flex-direction: column
        gap: 50px    
    .lorem-holder
        display: flex
        flex-direction: row
        gap: 50px
       
        .lorem-container
            display: flex
            flex-direction: row
            width: 49%
            .lorem-text
                line-height: 3  0px
                h4
                    font-size: 18px
                    padding-bottom: 5px
                h5
                    font-size: 15px
                    font-weight: 100
                    color: #9D9D9C
            .txt-end
                text-align: end
                padding-right: 20px
                padding-left: 150px
            .txt-gch
                padding-left: 20px
                padding-right: 150px
            .lorem-img
.aenean
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: white
    flex-direction: column
    height: 350px
    position: relative

.bgrnd2
    position: relative
    z-index: 1
    background: url('../assets/img/banner.jpg')
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    background-position: 10% 4%
    height: 350px
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.5)
            
footer
   background-color: #F6F6F6
   padding-top: 70px
   padding-bottom: 60px
   .reso-container
        display: flex
        justify-content: center
        align-items: center
        gap: 50px
        color: rgba(0, 0, 0, 0.2)
        font-size: 30px
        padding-top: 10px
   .copy
        display: flex
        gap:20px
        justify-content: center
        align-content: center
        color: rgba(0, 0, 0, 0.4)
        padding-top: 30px
   
        .design
            border-left: 1px solid rgba(0, 0, 0, 0.2)
            border-right: 1px solid rgba(0, 0, 0, 0.2)
            padding-left: 30px     
            padding-right: 30px    





@media (max-width:768px) 
    body
        overflow-x: hidden
        nav
            padding-top: 0px
            display: flex
            flex-direction: row
            .ancres
                flex-direction: column
                
        header
            height: 200px
            .text
                margin-top: -50px
        .maecenas
            flex-wrap: wrap
            justify-content: center
            align-items: center
            text-align: start
            flex-direction: column
            margin-left: -200px
            .cont-gauche
            display: flex
            flex-direction: column
            justify-content: center
            text-align: start
            .cont-droite

                text-align: start
                width: 600px
                padding-left: 100px
                p
                    font-size: 12px

        .fusce
           
            .cards-holder 
                flex-direction: column
                .card
                    img
                        width: 400px
                  
                
        .mauris
            img 
                width: 100px
            .titre
                padding-left: 100px
                padding-bottom: 20px
            .diviseur
                margin-right: 0px
                padding-right: 0px
                flex-direction: column
                
            .lorem-holder
                flex-direction: column
                margin-right: -400px
            
            .lorem-img
                padding: 10px
            .lorem-text 
                padding: 0 !important
                
@media (min-width:768px) and (max-width:992px)

    .bgrnd
        background: url('../assets/img/banner.jpg')
        @include bg-size
        background-attachment: fixed
        background-repeat: no-repeat
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 80%
            background-color: rgba(0, 0, 0, 0.5)
    .maecenas
        display: flex
        align-items: start
        justify-content: center
        text-align: start
        flex-direction: row
        padding-top: 80px
        padding-bottom: 80px
        line-height: 25px
    
        .cont-gauche
            padding-left: 100px
            height: 100%
            width: 1000px
        
        
        .cont-droite
            padding-right: 100px
            width: 1000px
            font-size: 14px
            p
                margin-bottom: 25px 
    .fusce
        
        .cards-holder 
            flex-direction: row
            img
                width: 300px
    .mauris
                img 
                    width: 100px
                .titre
                    text-align: center
                    padding-left: 20px
                    padding-bottom: 20px
                    margin-bottom: 20px

                .diviseur
                    margin-right: 0px
                    padding-right: 0px
                    flex-direction: colum
                    
                .lorem-holder
                    flex-direction: row
                    margin-right: 30px
                
                .lorem-img
                    padding: 10px
                .lorem-text 
                    margin-left: 20px
                    padding: 0 !important
    
  